header {
  background-color: #DEB887;
  color: white;
  text-align: center;
  padding: 10px 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 1000;
}

header h1 {
  margin: 0 0 10px 0;
  text-shadow: 1.5px 4px #b05228;
  font-size: 2em;
}

nav {
  overflow-x: auto;
  white-space: nowrap;
  padding-bottom: 5px;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap; /* This enables the navbar to wrap to a new row */
  justify-content: center;
}

nav ul li {
  margin: 0 5px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 1em;
  padding: 8px 12px;
  transition: background-color 0.3s ease, color 0.3s ease;
  border-radius: 5px;
  display: inline-block;
}

nav ul li a:hover {
  background-color: #CDAA7D;
  color: #FFF8DC;
}

#logoutButton {
  cursor: pointer;
}

::-webkit-scrollbar {
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #7b3f00;
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  background-color: #e2c779;
}
